.login-outer-wrapper {
    /* background-color: red; */
    width: 90vw;
    margin: 0 auto;
    margin-top: 130px;
}

.login-wrapper {
    background-color: white;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.image-wrapper {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper > img {
    width: 320px;
    cursor: pointer;
}

.credentials-wrapper > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials-wrapper > form input {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(148, 148, 148);
}

.email, .password, .repeat-password {
    width: 420px;
}

.email-label {
    margin-bottom: 20px;
    margin-top: 20px;
}

.password-label {
    margin-bottom: 10px;
}

.login-reg-wrapper {
    /* background-color: red; */
    margin-bottom: 40px;
    width: 460px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

/* .login-reg-wrapper > p:last-child {
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid rgb(62, 162, 255);
} */

.login-reg-wrapper > p {
    cursor: pointer;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

.personal-details {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.personal-details > input {
    width: 182px;
}

.login-outer-wrapper input:focus {
    outline: none;
}

.checkbox-terms-label {
    display: grid;
    grid-template-columns: max-content auto;
    place-items: flex-start;
    max-width: 464.11px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}

.checkbox-terms-label > input {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.login-pass-options-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.forgot-pass {
    font-size: 15px;
    color: rgb(75, 168, 255);
    cursor: pointer;
}

.forgot-pass:hover {
    text-decoration-line: underline;
}

.checkbox-terms-label > p {
    font-size: 15px;
}

.register-button {
    border: none;
    padding: 15px;
    background-color: rgb(75, 168, 255);
    border-radius: 10px;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 50px;
}

.back-button-wrapper {
    max-width: 950px;
    margin: 0 auto;
    margin-top: 10px;
}

.back-button {
    border: 2px solid rgb(75, 168, 255);
    width: fit-content;
    padding: 7px 20px;
    border-radius: 10px;
    color: rgb(75, 168, 255);
    /* background-color: white; */
    font-weight: 500;
    cursor: pointer;
}


@media screen and (max-width: 600px){
    .login-outer-wrapper {
        width: unset;
        margin-top: unset;
    }

    .login-wrapper {
        border-radius: unset;
    }

    .back-button {
        margin: 0 auto;
    }
}

@media screen and (max-width: 490px){
    .credentials-wrapper {
        width: 100%;
    }

    .credentials-wrapper > form {
        width: 90%;
        margin: 0 auto;
    }

    .email-label, .password-label {
        display: flex;
        width: 100%;
    }

    .credentials-wrapper > form input {
        width: 100%;
    }

    .login-pass-options-wrapper {
        width: 100%;
    }

    .register-button {
        width: 100%;
    }

    .checkbox-terms-label > p {
        margin-left: 10px;
    }

    .repeat-password-label {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 460px){
    .login-reg-wrapper {
        width: 100%;
    }
}
