.item-page-wrapper {
    width: 70vw;
    /* background-color: red; */
    margin: 0 auto;
    /* margin-bottom: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-page-main-info-wrapper {
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 0 50px;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 30px;
    /* box-shadow: 0px 0px 13px -8px rgb(66 68 90); */
}

.item-page-images-section {
    display: flex;
    /* background-color: red; */
    flex-direction: column;
}

.all-photos-wrapper {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-photo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-photo-wrapper > img {
    width: 82%;
}

.all-photos-wrapper > img {
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

.star-icon-gray {
    color: gray;
}

.page-item-name {
    font-size: 30px;
    max-width: 90%;
}

.page-item-stats {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
}

.page-item-stats > p {
    margin-left: 15px;
}

.page-item-stats > p > span {
    font-weight: 700;
    color: rgb(75, 168, 255);
}

.page-item-stats > .page-item-reviews > span {
    margin-left: 5px;
}

.item-page-desc-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px auto;
}

.desc-part {
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    border-bottom: 1px solid rgb(173, 173, 173);
    /* margin-right: 10%; */
    padding-bottom: 20px;
}

.specs-part > ul > li > span {
    font-weight: 600;
}

.specs-part > ul > li {
    margin: 4px 0;
    margin-left: 20px;
    list-style-type: disc;
}

.buy-part {
    box-sizing: border-box;
    width: 90%;
    /* margin: 0 auto; */
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
}

.buy-part-cart {
    padding: 15px 20px;
    display: flex;
    border-bottom: 1px solid rgb(173, 173, 173);
    justify-content: space-between;
    align-items: center;
}

.buy-part-cart > p {
    font-size: 23px;
    font-weight: 500;
}

.buy-part-cart > button {
    border: none;
    padding: 10px 30px;
    background-color: rgb(75, 168, 255);
    border-radius: 10px;
    color: white;
    font-size: 17px;
}

.perks-part {
    padding: 0px 20px;
}

.perks-part > p {
    border-bottom: 1px solid rgb(173, 173, 173);
    /* padding: 0px 5px; */
    color: rgb(73, 73, 73);
    margin: 25px 0;
}


/* Specs styles */
.item-page-specs-part {
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 13px -8px rgb(66 68 90); */
    padding: 0px 25px;
    /* border-bottom: 1px solid rgb(173, 173, 173); */
}

.item-page-specs-nav {
    margin-bottom: 30px;
    position: sticky;
    top: 75px;
    background-color: white;
    /* padding-bottom: 20px; */
    z-index: 1;
}

.item-page-specs-nav > ul {
    position: relative;
    display: flex;
    /* box-shadow: 0px 0px 13px -1px rgb(66 68 90); */
    box-shadow: 0px 19px 25px -20px rgba(66, 68, 90, 1);

}

.item-page-specs-nav > ul::after {
    content: '';
    height: 2px;
    width: 300px;
    background-color: rgb(173, 173, 173);
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}

.item-page-specs-nav > ul > li {
    border-bottom: 2px solid rgb(173, 173, 173);
    padding: 10px 30px;
    font-weight: 600;
    color: rgb(87, 87, 87);
    cursor: pointer;
    margin-top: 5px;
}

.item-page-specs-nav > ul > li:hover {
    color: black;
    border-bottom: 2px solid black;
}

.specs-desc {
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 17px;
    padding: 0 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(173, 173, 173);
}


/* Desc from database styles */
.specs-desc > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.specs-desc > div > img {
    border-radius: 15px;
    max-width: 100%;
}

.specs-desc > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.specs-desc > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.specs-desc > section > div > img {
    border-radius: 15px;
    max-width: 100%;
}
/* ====================================== */

.specs-desc-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.specs-desc-image-wrapper > img {
    border-radius: 15px;
    max-width: 100%;
}

.img-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.specs-wrapper > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.specs-wrapper > ul > li {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.specs-wrapper > ul > li:hover {
    background-color: rgb(233, 233, 233);
}

.specs-specs > h3 {
    margin-top: 10px;
    padding: 0 10px
}

.specs-reviews {
    border-top: 2px solid rgb(173, 173, 173);
    margin-top: 50px;
    /* border-bottom: 2px solid rgb(173, 173, 173); */
    /* padding-bottom: 25px; */
}

.specs-reviews > h3 {
    padding: 0 10px;
    margin-top: 10px;
}

.reviews-header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 0 10px;
    /* background-color: red; */
    align-items: center;
}

.reviews-main-stats {
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
    justify-content: center;
}

.reviews-score-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-score-head > p {
    margin-right: 10px;
    font-size: 30px;
    font-weight: 500;
}

.reviews-score-head .star-icon, .reviews-score-head .star-icon-gray {
    font-size: 24px;
}

.reviews-chart > div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.reviews-chart {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.separator {
    background-color: #ebeaea;
    height: 8px;
    border-radius: 999px;
    width: 100%;
    position: relative;
}

.separator::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: rgb(62, 162, 255);
    border-radius: 999px;
}

.star-count-holder {
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.rewievs-count-holder {
    white-space: nowrap;
    padding-left: 10px;
}

.star-count-holder > span {
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
}

.add-review-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-review-side > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: rgb(62, 162, 255);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.add-review-side > div > p {
    max-width: 110px;
    width: fit-content;
    color: white;
    font-weight: 500;
}

.log-to-review {
    color: white;
    font-size: 22px;
    margin-left: 5px;
}

.reviews-container {
    padding: 0 10px;
    border-top: 1px solid rgb(173, 173, 173);
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.reviews-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-nav > div {
    display: flex;
    /* background-color: rgb(62, 162, 255); */
    border: 1px solid rgb(173, 173, 173);
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.reviews-nav > div > select {
    /* background-color: rgb(62, 162, 255); */
    border: none;
    font-size: 16px;
}

.reviews-nav > div > select:focus {
    outline: none;
}

.reviews-nav > div > p {
    margin-right: 5px;
}

.single-review {
    display: grid;
    grid-template-columns: 19% 81%;
    padding: 0 5px;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 15px;
    margin-top: 25px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prof-name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.prof-name > div {
    background-color: rgb(213, 213, 213);
    padding: 10px 12px;
    border-radius: 999px;
    margin-right: 5px;
}

.rev-user {
    color: white;
    font-size: 20px;
}

.rev-date {
    margin-top: 5px;
    font-size: 15px;
}

.review-content {
    font-size: 15px;
}

.rating-rev {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 25px;
    margin-top: 10px;
}

.rating-rev > div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rating-rev > div > p{
    font-size: 12px;
}

.rating-rev > div:first-child {
    color: rgb(122 122 122);
    font-size: 20px;
}

.rating-rev > div:last-child {
    color: rgb(122 122 122);
    font-size: 20px;
}

.single-reviews-wrapper > div:last-child {
    border-bottom: none;
}

.show-more-reviews-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.show-more-reviews-wrapper > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 75px;
    background-color: rgb(62, 162, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.show-more-reviews-wrapper > button > p {
    margin-left: 5px;
    font-weight: 500;
}

.thumbs-up:hover, .thumbs-down:hover {
    animation: 0.4s linear 0s 1 running thumbs-shake;
}

.add-review-container {
    position: fixed;
    /* bottom: 100px; */
    background: white;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 10px;
    z-index: 11;
    padding: 20px;
    width: 40vw;
    height: fit-content;
    top: 20%;
    min-width: 600px;
    animation: 0.4s ease-out 0s 1 forwards popup-appear-shake;
}

.out-click {
    background-color: black;
    opacity: 0.25;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
}

.type-review, .confirm-review {
    display: flex;
    align-items: center;
}

.type-review {
    height: 250px;
}

.type-review > textarea {
    padding: 5px;
    width: 1200px;
    height: 100%;
    border-radius: 10px;
    text-align: start;
    font-size: 14px;
}

.type-review > textarea:focus {
    outline: none;
}

.confirm-review {
    margin-top: 20px;
    justify-content: center;
}

.confirm-review > button {
    border: none;
    background-color: rgb(62, 162, 255);
    color: white;
    width: 100%;
    height: 45px;
    font-size: 19px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
    background: rgb(62,162,255);
    background: linear-gradient(180deg, rgba(62,162,255,1) 0%, rgb(62, 162, 255) 100%);
}

.confirm-review > button:hover {
    background: rgb(62,162,255);
    background: linear-gradient(180deg, rgba(62,162,255,1) 0%, rgb(51, 140, 223) 100%);
}

.close-add-review {
    cursor: pointer;
    /* background-color: red; */
    padding: 5px 10px;
    border-radius: 999px;
    transition-duration: 0.2s;
    font-size: 25px;
}

.rating-stars .star-icon, .rating-stars .star-icon-gray {
    cursor: pointer;
}

.close-add-review:hover {
    background-color: rgb(210, 210, 210);
}


/* v2 */
.close-add-review {
    position: absolute;
    right: 5px;
    top: 5px;
}

.top-add-review-part {
    display: flex;
}

.text-part-add-review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.review-item-info-add-review {
    justify-content: flex-end;
    display: flex;
    margin-right: 10px;
    border-left: 2px solid rgb(173, 173, 173);
}

.reviewed-item-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewed-item-image-wrapper > img {
    max-width: 150px;
    border-radius: 5px;
    /* border: 1px solid rgb(196, 196, 196); */
}

.review-item-info-add-review-wrapper {
    /* background-color: #e8e8e8; */
    border-radius: 5px;
    padding: 3px;
}

.reviewed-item-name {
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
}

.top-add-review-part {
    display: grid;
    grid-template-columns: 20% auto;
    margin-bottom: 10px;
}

.add-review-side > .user-item-review-wrapper {
    background-color: unset;
    border: 2px solid rgb(148, 148, 148);
    border-radius: unset;
    margin: 0 15px;
    padding: 5px 10px;
}

.user-item-review {
    display: flex;
    flex-direction: column;
}

.user-item-review > h3 {
    color: rgb(47, 47, 47);
    align-self: center;
    margin-bottom: 10px;
}

.user-review-edit-field {
    display: flex;
    justify-content: space-between;
    color: rgb(62, 162, 255);
    margin-top: 10px;
    position: relative;
}

.user-review-edit-field::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 30px;
    background-color: red;
    bottom: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
}

.user-item-review > p {
    max-height: 92px;
    min-height: 92px;
    overflow: hidden;
}

.user-review-edit-field > p {
    font-weight: 400;
}

.user-review-edit-field > p:hover {
    text-decoration: underline;
}

.user-review-icon {
    margin-left: 5px;
}


@keyframes thumbs-shake {
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes popup-appear-shake {
    0% {
        transform: translateY(400px);
        opacity: 0;
    }
    50% {
        transform: translateY(-50px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes popup-disappear-shake {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(-50px);
        opacity: 1;
    }
    100% {
        transform: translateY(400px);
        opacity: 0;
    }
}


@media screen and (max-width: 680px){
    .add-review-container {
        width: 100vw;
        box-sizing: border-box;
        border-radius: 0;
    }
}
