.items-page-wrapper {
    display: grid;
    /* background-color: red; */
    /* height: 900px; */
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 300px auto;
    grid-template-rows: max-content auto;
    grid-template-areas:
    "filter sorter"
    "filter main";
    margin-top: 30px;
    /* margin-bottom: 600px; */
    grid-template-rows: 60px auto;
    gap: 20px;
    color: rgb(77, 77, 77);
}

.items-page-outer-wrapper {
    width: 80vw;
    margin: 0 auto;
}

.page-filter-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 27, 27);
}

.page-filter-header > p {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.page-filter {
    background-color: white;
    grid-area: filter;
    border-radius: 15px;
    padding: 10px;
    /* height: fit-content; */
}

.page-sorter {
    grid-area: sorter;
    /* background-color: aqua; */
    align-items: flex-end;
}

.basic-sorters-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 30px;
    width: 240px;
    /* background-color: red; */
    position: relative;
}

.basic-sorters-positioner {
    display: flex;
    /* background-color: green; */
    align-items: flex-end;
    height: 41px;
    width: 100%;
    position: relative;
}

.items-display {
    position: relative;
    grid-area: main;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.items-display .single-search-item-wrapper:last-child {
    margin-bottom: 0;
}

.page-sorter {
    display: flex;
}

/* ========================== price slider styles ===================== */
.thermometer-slider {
    /* height: 200px; */
    width: 400px;
}

.thermometer-thumb {
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    background-color: rgb(75, 168, 255);
    color: #fff;
    border-radius: 50%;
    cursor: grab;
}

.thermometer-track {
    top: 7.5px;
    bottom: 0;
    background: gray;
    border-radius: 999px;
    /* left: 5px; */
    height: 7px;
}

.thermometer-track.thermometer-track-0 {
    background: gray;
}

.thermometer-track.thermometer-track-1 {
    background: rgb(75, 168, 255);
}

.thermometer-track.thermometer-track-2 {
    background: gray;
}

.actual-temp {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}


/* ===================================================== */

.price-range-header {
    margin-right: 10px;
}

.price-range {
    position: relative;
    height: 60px;
}

.range-value-info {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
}

.price-from, .price-to {
    background-color: white;
    width: 90px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    position: relative;
    bottom: 0;
    border: 1px solid rgb(173, 173, 173);
}

/* .sort-selector {
    height: fit-content;
    padding: 10px 30px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.page-sorter > select {
    /* margin-left: 5px; */
    /* padding-left: 5px; */
    /* left: -65px; */
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    height: 80%;
    margin-right: 35px;
    border-radius: 8px;
    border: 1px solid rgb(173, 173, 173);
}

.page-sorter > select:focus {
    outline: none;
}

.in-price-range-all-slider-wrapper {
    display: flex;
}

.page-selector {
    display: flex;
    align-items: center;
}

.previous-page, .next-page {
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: 1px solid rgb(173, 173, 173);
    /* width: 100px; */
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.previous-page:hover, .next-page:hover {
    background-color: rgb(209, 209, 209)
}

.previous-page > span, .next-page > span {
    position: absolute;
}

.page-nav {
    display: flex;
    height: fit-content;
    align-items: flex-end;
    margin-left: auto;
    align-self: flex-end;
    position: relative;
}

.page-size-selector {
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    height: 100%;
    margin-right: 35px;
    border-radius: 8px;
    border: 1px solid rgb(173, 173, 173);
}

.page-size-selector:focus {
    outline: none;
}

.current-page {
    background-color: white;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 999px;
    padding: 20px;
    margin-left: 5px;
    position: relative;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-page > span {
    position: absolute;
}

/* Single search item styles */
.single-search-item-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    /* max-width: fit-content; */
    box-sizing: border-box;
    box-shadow: 0px 0px 13px -8px rgba(66, 68, 90, 1);
}

.image-wrapper-in-buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper-in-buy > img {
    width: 80%;
    min-width: 180px;
}

.in-buy-item-name {
    font-size: 19px;
    font-weight: 500;
    max-width: 80%;
}

.in-buy-item-name:hover {
    text-decoration: underline;
}

.text-area {
    margin-left: 15px;
}

.buy-area {
    position: relative;
}

.buy-area > button {
    border: none;
    background-color: rgb(75, 168, 255);
    padding: 12px 15px;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.1s;
}

.buy-area > button:hover {
    background-color: rgb(52, 142, 225);
}

.price-header-in-buy {
    font-size: 23px;
    font-weight: 500;
}

.star-icon {
    /* background-color: red; */
    /* border: 1px solid black; */
    /* color: white; */
    font-weight: 400;
    color: rgb(255, 199, 58);
}

.in-buy-item-reviews {
    margin-top: 5px;
    font-size: 14px;
}

.in-buy-item-reviews > span {
    margin-left: 5px;
}

.item-short-specs {
    margin-left: 15px;
    margin-top: 12px;
}

.item-short-specs > li {
    font-size: 12px;
    margin: 2px 0;
    list-style-type: disc;
}

.item-short-specs > li > span {
    font-weight: 500;
}

.items-overlay-laoder {
    position: absolute;
    scale: 2;
    top: 200px;
    z-index: 10;
}

@-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); } }

  /**
    * Half ring
    *
    * @author jh3y - jheytompkins.com
  */
.half-ring:before {
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
    border-radius: 10px;
    -webkit-box-shadow: 25px 0px 0 0 rgba(75, 168, 255, 0.2), 20.22542px 14.69463px 0 0 rgba(75, 168, 255, 0.4), 7.72542px 23.77641px 0 0 rgba(75, 168, 255, 0.6), -7.72542px 23.77641px 0 0 rgba(75, 168, 255, 0.8), -20.22542px 14.69463px 0 0 rgb(75, 168, 255);
            box-shadow: 25px 0px 0 0 rgba(75, 168, 255, 0.2), 20.22542px 14.69463px 0 0 rgba(75, 168, 255, 0.4), 7.72542px 23.77641px 0 0 rgba(75, 168, 255, 0.6), -7.72542px 23.77641px 0 0 rgba(75, 168, 255, 0.8), -20.22542px 14.69463px 0 0 rgb(75, 168, 255);
    height: 10px;
    width: 10px;
    display: block;
    content: '';
}

.page-filter-mobile {
    background-color: white;
    grid-area: filter;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
}

.page-filter-header-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 44);
    gap: 10px;
}

.page-filter-header-mobile > p {
    width: fit-content;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    /* border-bottom: 1px solid rgb(173, 173, 173); */
}

.page-sorter-mobile {
    background-color: white;
    grid-area: sorter;
    border-radius: 7px;
    padding: 5px;
}

.page-sorter-header-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 44);
    gap: 10px;
}


.page-sorter-header-mobile > p {
    width: fit-content;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    /* border-bottom: 1px solid rgb(173, 173, 173); */
}

.mobile-filters-expanded {
    width: 65vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    transform: translateX(-65vw);
}

.darken-mobile-filters {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    opacity: 0.22;
    position: fixed;
    z-index: 19;
    top: 0;
    right: 0;
    transform: translateX(-100vw);
    /* animation: 0.4s linear 0s 1 forwards darken-mobile; */
}

.mobile-sorters-expanded {
    width: 65vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    transform: translateX(100vw);
    padding: 10px;
    box-sizing: border-box;
}

.sorters-head-mobile-expand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.sorters-head-mobile-expand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sorters-head-mobile-expand > p {
    font-weight: 600;
    font-size: 20px;
    color: rgb(55, 55, 55);
}

.in-mobile-sorters-close {
    left: 0;
    position: absolute;
    border-radius: 999px;
    padding: 5px 9.5px;
    font-size: 25px;
    cursor: pointer;
}

.sorting-mobile-view {
    display: grid;
    grid-template-columns: 32% 68%;
    place-items: center;
    /* border-radius: 5px; */
    /* border: 1px solid rgb(173, 173, 173); */
    margin-bottom: 30px;
    margin-top: 15px;
    min-height: 40px;
    position: relative;
}

.sorting-mobile-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px;
    gap: 10px;
}

.sorting-mobile-select {
    border: none;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}

.sorting-mobile-select:focus {
    outline: none;
}

.in-price-range-all-slider-wrapper .thermometer-slider-mobile {
    width: 100%;
}

.nav-items-mobile {
    grid-area: main;
}




@keyframes darken-mobile {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }

    0.1% {
        transform: translateX(0px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 0.22;
    }
}

@keyframes darken-mobile-hide {
    0% {
        transform: translateX(0px);
        opacity: 0.22;
    }

    99.99% {
        transform: translateX(0px);
        opacity: 0;
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes open-filters-mobile {
    0% {
        transform: translateX(-65vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

@keyframes close-filters-mobile {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-65vw);
    }
}

@keyframes open-sorters-mobile {
    0% {
        transform: translateX(65vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes close-sorters-mobile {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(65vw);
    }
}




@media screen and (max-width: 1580px){
    .items-page-outer-wrapper {
        width: 90vw;
    }
}

@media screen and (max-width: 1410px){
    .items-page-outer-wrapper {
        width: 95vw;
    }
}

@media screen and (max-width: 1330px){
    .thermometer-slider {
        width: 300px;
    }
}

@media screen and (max-width: 1225px){
    .thermometer-slider {
        width: 200px;
    }

    .page-sorter > select {
        margin-right: 10px;
        padding: 10px 15px;
    }

    .page-size-selector {
        margin-right: 10px;
    }

    .image-wrapper-in-buy > img {
        min-width: 165px;
    }

}

@media screen and (max-width: 1040px){
    .items-page-wrapper {
        grid-template-areas:
            "filter sorter"
            "main main";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content auto;
    }

    .image-wrapper-in-buy > img {
        min-width: 175px;
    }

    .items-display {
        grid-row: 3/4;
    }
}

@media screen and (max-width: 906px){
    .single-search-item-wrapper {
        grid-template-columns: 25% 50% 25%;
    }

    .in-buy-item-name {
        font-size: 17px;
    }

    .price-header-in-buy {
        font-size: 21px;
    }

    .buy-area > button {
        font-size: 15px;
        padding: 12px 5px;
    }
}

@media screen and (max-width: 650px){
    .single-search-item-wrapper {
        grid-template-columns: 30% 45% 25%;
    }

}

@media screen and (max-width: 583px){
    .single-search-item-wrapper {
        display: flex;
        flex-direction: column;
    }

    .image-wrapper-in-buy > img {
        max-width: 280px;
    }

    .buy-area > button {
        position: relative;
        font-size: 16px;
        margin-top: 10px;
    }

    .price-header-in-buy {
        font-size: 24px;
        color: rgb(45, 45, 45);
        position: absolute;
        bottom: 52px;
        right: 0px;
        font-weight: 600;
    }

    .text-area {
        margin-left: 0;
    }

    .single-search-item-wrapper {
        margin-bottom: 10px;
    }
}
