* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebeaea;
}
button {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

/* #root {
  background-color: #ebeaea;
} */

/* @keyframes fade-background {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.75);
  }
} */
