* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebeaea;
}
button {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

/* #root {
  background-color: #ebeaea;
} */

/* @keyframes fade-background {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.75);
  }
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebeaea;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(21, 126, 224);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(19, 108, 191);
}
